In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
title=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/550/title.basics.tsv',sep='\t',header=0)
#title = title.loc[title['runtimeMinutes'] != '\\N']
title=title.loc[title['titleType']=='movie']
title['primaryTitle']=title['primaryTitle'].str.strip()
title['originalTitle']=title['originalTitle'].str.strip()
title.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,\N,\N,Drama

In [ ]:
title=title.drop(columns=['titleType','originalTitle','isAdult','runtimeMinutes','endYear','genres'])
title=title.rename(columns={'tconst':'movie_id'})
title.head()

      movie_id                 primaryTitle startYear
498  tt0000502                     Bohemios      1905
570  tt0000574  The Story of the Kelly Gang      1906
587  tt0000591             The Prodigal Son      1907
610  tt0000615           Robbery Under Arms      1907
625  tt0000630                       Hamlet      1908

In [ ]:
ratings=pd.read_csv('/content/drive/Shareddrives/CIS 550/title.ratings.tsv',sep='\t',header=0)
ratings=ratings.drop(columns=['numVotes'])
ratings=ratings.rename(columns={'tconst':'movie_id'})
ratings.head()

    movie_id  averageRating
0  tt0000001            5.7
1  tt0000002            5.9
2  tt0000003            6.5
3  tt0000004            5.8
4  tt0000005            6.2

In [ ]:
movie_forsql=title.merge(ratings)
movie_forsql.head()

    movie_id                 primaryTitle startYear  averageRating
0  tt0000502                     Bohemios      1905            4.5
1  tt0000574  The Story of the Kelly Gang      1906            6.0
2  tt0000591             The Prodigal Son      1907            4.6
3  tt0000615           Robbery Under Arms      1907            4.5
4  tt0000630                       Hamlet      1908            3.8

In [ ]:
len(movie_forsql)

276761

In [ ]:
movie_forsql.to_csv("movie.csv",index=None)

In [ ]:
actor_name=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/550/name.basics.tsv',sep='\t',header=0)
actor_name['primaryName']=actor_name['primaryName'].str.strip()
actor_name.head()

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0072308,tt0031983,tt0050419,tt0053137"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0117057,tt0071877,tt0038355"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0056404,tt0054452,tt0049189,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0078723,tt0080455,tt0072562,tt0077975"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0083922,tt0069467,tt0060827"

In [ ]:
actor_name=actor_name.drop(columns=['birthYear','deathYear','primaryProfession','knownForTitles'])
actor_name=actor_name.rename(columns={'nconst':'actor_id'})
actor_name.head()

    actor_id      primaryName
0  nm0000001     Fred Astaire
1  nm0000002    Lauren Bacall
2  nm0000003  Brigitte Bardot
3  nm0000004     John Belushi
4  nm0000005   Ingmar Bergman

In [ ]:
actor_name.to_csv("actors.csv",index=None)

In [ ]:
cast=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/550/title.principals.tsv',sep='\t',header=0)
cast = cast.loc[cast['characters'] != '\\N']
cast['characters']=cast['characters'].str.replace(r'\[\"', '') 
cast['characters']=cast['characters'].str.replace(r'\"\]', '') 
cast['characters']=cast['characters'].str.strip()
cast.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,Self
11,tt0000005,1,nm0443482,actor,\N,Blacksmith
12,tt0000005,2,nm0653042,actor,\N,Assistant
21,tt0000008,1,nm0653028,actor,\N,Sneezing Man
24,tt0000009,1,nm0063086,actress,\N,Miss Geraldine Holbrook (Miss Jerry)

In [ ]:
cast1=cast.drop(columns=['ordering','category','job'])
cast1.head()

In [ ]:
mbti=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/550/mbti 2.csv')
mbti=mbti.dropna(subset=['movie'])
mbti['movie']=mbti['movie'].str.replace(r"\(.*\)","")
mbti['movie']=mbti['movie'].str.strip()
mbti.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

,stat,mbti,enneagram,role,movie,img_url
0,697 / 162,ESFP,7w6,"Peter Quill ""Star-Lord""",Marvel Cinematic Universe,https://www.personality-database.com/profile_i...
1,668 / 231,ESFP,8w7,Anakin Skywalker,Star Wars,https://www.personality-database.com/profile_i...
2,589 / 243,ESFP,6w7,Ron Weasley,Harry Potter,https://www.personality-database.com/profile_i...
3,312 / 101,ESFP,7w8,Bellatrix Lestrange,Harry Potter,https://www.personality-database.com/profile_i...
4,302 / 105,ESFP,7w6,Simba,The Lion King,https://www.personality-database.com/profile_i...

In [ ]:
mbti['role']=mbti['role'].str.strip()
mbti1=mbti.drop(columns=['stat','enneagram'])

In [ ]:
cast_withmovie=cast1.merge(title,left_on='tconst',right_on='movie_id',how='inner')
cast_withmovie.head()

,tconst,nconst,characters,movie_id,primaryTitle,startYear
0,tt0000574,nm0846887,Kate Kelly,tt0000574,The Story of the Kelly Gang,1906
1,tt0000574,nm0846894,School Master,tt0000574,The Story of the Kelly Gang,1906
2,tt0000574,nm1431224,Joe Byrne,tt0000574,The Story of the Kelly Gang,1906
3,tt0000574,nm3002376,Steve Hart,tt0000574,The Story of the Kelly Gang,1906
4,tt0000615,nm3071427,Warrigal,tt0000615,Robbery Under Arms,1907

In [ ]:
cast_withmovie1=cast_withmovie.drop(columns=['tconst','startYear'])
cast_withmovie1.head()

      nconst     characters   movie_id                 primaryTitle
0  nm0846887     Kate Kelly  tt0000574  The Story of the Kelly Gang
1  nm0846894  School Master  tt0000574  The Story of the Kelly Gang
2  nm1431224      Joe Byrne  tt0000574  The Story of the Kelly Gang
3  nm3002376     Steve Hart  tt0000574  The Story of the Kelly Gang
4  nm3071427       Warrigal  tt0000615           Robbery Under Arms

In [ ]:
characters2=cast_withmovie1.merge(mbti1,left_on=['characters','primaryTitle'],right_on=['role','movie'],how='left')
characters1=characters2.drop(columns=['role','movie','primaryTitle'])
characters1.head()

      nconst     characters   movie_id mbti img_url
0  nm0846887     Kate Kelly  tt0000574  NaN     NaN
1  nm0846894  School Master  tt0000574  NaN     NaN
2  nm1431224      Joe Byrne  tt0000574  NaN     NaN
3  nm3002376     Steve Hart  tt0000574  NaN     NaN
4  nm3071427       Warrigal  tt0000615  NaN     NaN

In [ ]:
characters=characters1.drop(columns='nconst')
characters=characters.rename(columns={'characters':'Name'})
characters.head()

            Name   movie_id mbti img_url
0     Kate Kelly  tt0000574  NaN     NaN
1  School Master  tt0000574  NaN     NaN
2      Joe Byrne  tt0000574  NaN     NaN
3     Steve Hart  tt0000574  NaN     NaN
4       Warrigal  tt0000615  NaN     NaN

In [ ]:
characters.to_csv("characters.csv",index=None)

In [ ]:
play_by=characters2.drop(columns=['mbti','img_url','role','movie','primaryTitle']).rename(columns={'characters':'Name',"nconst":'actorID'})
play_by.head()

     actorID           Name   movie_id
0  nm0846887     Kate Kelly  tt0000574
1  nm0846894  School Master  tt0000574
2  nm1431224      Joe Byrne  tt0000574
3  nm3002376     Steve Hart  tt0000574
4  nm3071427       Warrigal  tt0000615

In [ ]:
play_by.to_csv("play_by.csv",index=None)

##End of cleaning!!!

In [ ]:
len(play_by)

1459130

In [ ]:
len(characters1[characters1['mbti'].isna()==False])

5364

In [ ]:
characters1[characters1['mbti'].isna()==False]

In [ ]:
mbti['movie'] = mbti['movie'].str.replace(' and ', ' & ')
mbti['movie'] = mbti['movie'].str.replace(' Or ', ' or ')

In [ ]:
len(mbti)

17387

In [ ]:
mbti=mbti.drop_duplicates(subset=['mbti','role','movie'],keep='first')

In [ ]:
replace_values = {'An Officer & a Gentleman' : 'An Officer and a Gentleman',
                  }

In [ ]:
mbti_roles=mbti['role'].unique()
mbti_movies=mbti['movie'].unique()
imdb_title=title['primaryTitle'].unique()
common_titles=np.intersect1d(mbti_movies,imdb_title)

In [ ]:
len(common_titles)
#len(mbti_movies)

2483

In [ ]:
set(mbti_movies.tolist())-set(common_titles.tolist())

In [ ]:
title[title['primaryTitle'].str.contains("Harry Potter")]

In [ ]:
len(cast)

2561145

In [ ]:
cast=cast.drop_duplicates(['tconst','nconst','characters'], keep='first')

In [ ]:
mbti_roles=mbti['role'].unique()
imdb_roles=cast['characters'].unique()
common_charac=np.intersect1d(mbti_roles,imdb_roles)

In [ ]:
len(common_charac)

9330

In [ ]:
cast[cast['characters'].str.contains("Finkelstein")]

In [ ]:
set(mbti_roles.tolist())-set(common_charac.tolist())

In [ ]:
len(cast)

24138193

In [ ]:
len(mbti)

18741

In [ ]:
mbti_tt=mbti[['mbti','role','movie']].merge(title, left_on='movie', right_on='primaryTitle')
mbti_tt.head()

In [ ]:
len(mbti_tt)

29883

In [ ]:
mobi_tt_actor=mbti_tt.merge(cast,left_on='role',right_on='characters')
mobi_tt_actor.head()

In [ ]:
len(mobi_tt_actor)

14874638

In [ ]:
found_charac=mobi_tt_actor['role'].unique()
len(found_charac)

7498

In [ ]:
print(found_charac.tolist())

['Simba', 'Pumbaa', 'Nala', 'Shenzi', 'Mufasa', 'Scar', 'Donkey', 'Lord Farquaad', 'Jack Dawson', 'Molly Brown', 'Rose Dewitt Bukater', 'Aladdin', 'Jasmine', 'Jafar', 'Marty McFly', 'Lorraine Baines', 'George McFly', 'Tyler Durden', 'Ernesto de la Cruz', 'Mamá Imelda', 'Héctor', 'Aragorn', 'Gandalf', 'Nemo', 'Dory', 'Marlin', 'Gill', 'Woody', 'Buzz Lightyear', 'Mr. Potato Head', 'Eeyore', 'Owl', 'Mrs. Gump', 'Forrest Gump', 'Caesar Flickerman', 'Peeta Mellark', 'Gale Hawthorne', 'Katniss Everdeen', 'Mater', 'Sally Carrera', 'Lightning McQueen', 'Doc Hudson', 'Russell', 'Charles Muntz', 'Carl Fredricksen', 'Kay Adams', 'Don Vito Corleone', 'Chief Bogo', 'Judy Hopps', 'Nick Wilde', 'Jonathan', 'Mavis', 'Frankenstein', 'John Doe', 'Gobber', 'Fishlegs', 'Sid', 'Diego', 'Soto', 'Po', 'Tai Lung', 'Tigress', 'Mowgli', 'Baloo', 'Shere Khan', 'Bagheera', 'Noah Flynn', 'Megamind', 'Carolyn Burnham', 'Jane Burnham', 'Lester Burnham', 'Ricky Fitts', 'Coraline Jones', 'Freddie Mercury', 'Mary Austin', 'Brian May', 'Daisy Buchanan', 'Myrtle Wilson', 'Tom Buchanan', 'Jay Gatsby', 'Nick Carraway', 'Jordan Baker', 'Griff', 'Baby', 'Prince Charming', 'Fairy Godmother', 'Cinderella', 'Bridget von Hammersmark', 'Jack Skellington', 'Maui', 'Chief Tui', 'Sophie', 'Marianne', 'Louis', 'Ariel', 'Sebastian', 'Charlotte Haze', 'Clare Quilty', 'Humbert Humbert', 'Vector', 'Dr. Nefario', 'Warden Norton', "Ellis Boyd 'Red' Redding", 'Heywood', 'Andy Dufresne', 'Mrs. Bennet', 'Elizabeth Bennet', 'Mr. Bennet', 'Miss Fine', 'Dim', 'Nanny', 'Roger', 'Goofy', 'Pete', 'Roxanne', 'Max Goof', 'Dorothy Gale', 'Aunt Em', 'The Wizard', 'Jules Winnfield', 'Mia Wallace', 'Vincent Vega', 'Butch Coolidge', 'Eep', 'Guy', 'Ugga', 'Grug', 'Tree Gelbman', 'Lori Spengler', 'Carter Davis', 'Jim', 'Edward Scissorhands', 'Diane Rawlinson', 'Danny', 'Sandy', 'Toecutter', 'Skinner', 'Remy', 'Stacey Pilgrim', 'Wallace Wells', 'Scott Pilgrim', 'Ramona Flowers', 'Uncle Rico', 'Napoleon Dynamite', 'Chel', 'Miguel', 'Tulio', 'Tzekel-Kan', 'Megan Stewart', 'Lexie', 'Amy Herman', 'Josh', 'Iris', 'Betsy', 'Tom', 'Travis Bickle', 'Mary Poppins', 'Carl Showalter', 'Marge Gunderson', 'Gaear Grimsrud', 'Sheriff of Nottingham', 'Prince John', 'Robin Hood', 'Robin Longstride', 'Maid Marian', 'Lilly Moscovitz', 'Queen Clarisse Renaldi', 'Red Queen', 'Mad Hatter', 'Cheshire Cat', 'The Dormouse', 'White Rabbit', 'Alice', 'White Queen', 'Caterpillar', 'Chuck', 'Matilda', 'Bomb', 'Red', 'Donnie Azoff', 'Jordan Belfort', 'Korben Dallas', 'Leeloo', 'Tyrone C. Love', 'Sara Goldfarb', 'Marion Silver', 'Harry Goldfarb', 'Paris', 'Hector', 'Achilles', 'Manny Ribera', 'Tony Montana', 'Zoey', 'Gomez Addams', 'Uncle Fester Addams', 'Pugsley Addams', 'Morticia Addams', 'Tully Alford', 'Wednesday Addams', 'Alex Stewart', 'Rosie Dunne', 'Jenko', 'Schmidt', 'Marion McPherson', 'Larry McPherson', 'Reynolds Woodcock', 'Prince Edward', 'Giselle', 'Queen Narissa', 'Robert Philip', 'Fred', 'Baymax', 'Bryan Mills', 'Mushu', 'Dolores', 'Eddie Valiant', 'Judge Doom', 'Anna Coleman', 'Tess Coleman', 'Ryan', 'Jonathan Harker', 'Dracula', 'Professor Abraham Van Helsing', 'Kronk', 'Kuzco', 'Yzma', 'Pacha', 'Iosef Tarasov', 'Viggo Tarasov', 'John Wick', 'Marcus', 'Julia De Fiore', 'Howard Ratner', 'Dave Kujan', 'Maude Lebowski', 'Sabina Wilson', 'Elena Houghlin', 'Wichita', 'Little Rock', 'Tallahassee', 'Columbus', 'Glen Lantz', 'Freddy Krueger', 'Nancy Thompson', 'Paul Edgecomb', 'John Coffey', 'Courtney Babcock', 'Alvin', 'Norman Babcock', 'Tina Carlyle', 'Lt. Mitch Kellaway', 'Marcus Burnett', 'Mike Lowrey', "Mick O'Brien", 'Marlon', 'Truman Burbank', 'Christof', 'Jimmy Hoffa', 'Joe Chandler', 'Randi Chandler', 'Lee Chandler', 'Seth', 'Officer Slater', 'Evan', 'Billy Madison', 'Eric Gordon', 'Brian Madison', 'Veronica Vaughn', 'Mary Ann Lomax', 'John Milton', 'Kevin Lomax', 'Isaac', 'Ben', 'Jackie Brown', 'Max Cherry', 'Kazan', 'Jewel', 'Rafael', 'Blu', 'Wesley Rush', 'Rhino', 'Mittens', 'Bolt', 'Penny', 'Ed Warren', 'Lorraine Warren', 'James Hunt', 'Suzy Miller', 'Niki Lauda', 'Margaret White', 'Sue Snell', 'Carrie White', 'Dimitri', 'Anna', 'Olaf', 'Elsa', 'Paul Blart', 'Amy', 'Johnny Boy', 'Tony', 'Victoria Everglot', 'Victor Van Dort', 'Tito', 'Oliver', 'Dodger', 'Einstein', 'Olivia Wenscombe', 'Oda Mae Brown', 'Sam Wheat', 'Ava', 'Eve', 'Christopher Marlowe', 'Lucas', 'Joe Reaves', 'Jules', 'Curt', 'Marty', 'Dizzy Flores', 'Ace Levy', 'Ricky Baker', 'Bella Faulkner', 'Paula Hall', 'Hi-5', 'Gene', 'Jailbreak', 'Claire Cleary', 'Nick Dunne', 'Tanner Bolt', 'Desi Collings', 'Mebh Óg MacTíre', 'Bill Goodfellowe', 'Robyn Goodfellowe', 'Mallory Knox', 'Eleanor Young', 'Rachel Chu', 'Astrid Young Teo', 'Cristina', 'Moonee', 'Halley', 'Wayne Campbell', 'Benjamin Oliver', 'Garth Algar', 'Alan Parrish', 'Judy Shepherd', 'Minny Jackson', 'Aibileen Clark', 'Marion Davies', 'Herman Mankiewicz', 'Rita Alexander', 'Buster Moon', 'Mike', 'Ash', 'Rosita', 'Josie Radek', 'Lena', 'Amber Waves', 'Jack Horner', 'Carl Denham', 'Jack Driscoll', 'Captain Englehorn', 'Esther', 'Nurse Ratched', 'Scotty Smalls', 'The Once-ler', 'Audrey', 'The Lorax', 'Ted', 'B.O.B.', 'President Hathaway', 'Gallaxhar', 'Edgar', 'Marie Antoinette', 'Natalie', 'The Prime Minister', 'Daniel', 'Susan Alexander Kane', 'Liz', 'Harper Kreyman', 'Jodi Kreyman', 'Jack Dunkleman', 'Christian Grey', 'Anastasia Steele', 'Amelia Wren', 'James Glaisher', 'Taran', 'Fflewddur Fflam', 'Dallben', 'Park Nam-Joo', 'Jared Howe', 'Park Nam-il', 'Park Hie-bong', 'Dickon', 'Mrs. Medlock', 'Colin Craven', 'Elliot', 'Boog', 'Laurie Strode', 'Michael Myers', 'Sheriff Lee Brackett', 'Dr. Samuel Loomis', 'Mother', 'Dr. Peter Venkman', 'Jillian Holtzmann', 'Dana Barrett', 'Erin Gilbert', 'Dr. Egon Spengler', 'Abby Yates', 'Aunt Susan', 'Sloane', 'Elaine', 'Linda Partridge', 'Frank T.J. Mackey', 'Phil Parma', 'Earl Partridge', 'Zoey Sandin', 'Mary Sandin', 'James Sandin', 'Charlie Sandin', 'Jasmine Hale', 'Shaun', 'Combo', 'Milky', 'Destiny', 'Elizabeth', 'Buck', 'Mrs. Caloway', 'Alameda Slim', 'Grace', 'Smitty Ryker', 'Dorothy Schutte', 'Desmond Doss', 'Will Bloom', 'Vitaly Orlov', 'Yuri Orlov', 'Belle Rosen', 'James Martin', 'Pam Byrnes', 'Jack Byrnes', 'Edward Cullen', 'Everett', 'David Duke', 'Ron Stallworth', 'Patrice Dumas', 'Flip Zimmerman', 'Dick Brewer', 'Doc Scurlock', 'Chavez y Chavez', 'Lou Landsky', 'Joe', 'Charlotte Flax', 'Little Bill Daggett', 'English Bob', 'Ned Logan', 'Billy', 'George Hanson', 'Wyatt', 'Bailey Butler', 'Alicia Nash', 'Dr. Rosen', 'John Nash', 'Jimmy Dugan', 'Howard Bondurant', 'Jack Bondurant', 'Forrest Bondurant', 'Michael Sullivan', 'Lord Portley-Rind', 'Mr. Pickles', 'Mr. Trout', 'Candy', 'Faith', 'Darlene Sweet', 'Emily Summerspring', 'Lewis', 'Jay', 'David', 'Jacquimo', 'Thumbelina', 'Hansel', 'Matilda Jeffries', 'Prince Richard', 'Queen Helena', 'Princess Emily', 'Mr. Ages', 'Nicodemus', 'Amy March', 'Aunt March', 'Nomi Malone', 'James Smith', 'Zack Carey', 'Cristal Connors', 'Sugar Kane Kowalczyk', 'Spats Colombo', 'Dale Arbus', 'Nick Hendricks', 'Lionel Logue', 'King George VI', 'Tayfun', 'Margo Channing', 'Eve Harrington', 'Addison DeWitt', 'The Joker', 'Alexander Knox', 'Vicki Vale', 'Adrian Griffin', 'Babe', 'Valerie Lewton', 'Alex Browning', 'Clear Rivers', 'Gwen DeMarco', 'Jason Nesmith', 'Fred Kwan', 'Nate', 'Chris Shiherlis', 'Neil McCauley', 'Joe Buck', 'Rachel Creed', 'Jud Crandall', 'Louis Creed', 'Elle Woods', 'Deloris', 'Mary Patrick', 'Mary Robert', 'Mother Superior', "Baker's Wife", 'Witch', 'Ms. Sarah Madison', 'Henry Barthes', 'Mother Firefly', 'Captain Spaulding', 'Gene Shepard', 'Ann Finnigan', 'Howard Finnigan', 'Marian Wyman', 'Rita', 'Ryan McCarthy', 'Baja Miller', 'Dale Denton', 'Ted Jones', 'Saul Silver', 'Gale', 'Ed', 'Nathan Arizona, Sr.', 'Matt Garetty', 'Steve Montgomery', 'Richard Detmer', 'Andrew Detmer', 'Brandon Teena', 'Tom Nissen', 'Nicole Barber', 'Henry Barber', 'Charlie Barber', 'Devlin Adams', 'Amy Rainey', 'Mort Rainey', 'John Shooter', 'Bobby', 'Betty Carver', 'Gilbert Grape', 'Becky', 'Teddy', 'April', 'Goku', 'Mother Gothel', 'Rapunzel', 'King', 'Wendy Christensen', 'Bigweld', 'Rodney Copperbottom', 'Cal Naughton Jr.', 'Ricky Bobby', 'Jean Girard', 'Reese Bobby', 'He Zhiwu', 'Holly Gennaro McClane', 'Hans Gruber', 'Thompson', 'Rod Tidwell', 'Avery Bishop', 'Jerry Maguire', 'Dorothy Boyd', 'Gal', 'Kitty Fane', 'Walter Fane', 'Mike Damone', 'Nova', 'Riktor', 'Miles', 'Nix', 'Dark Helmet', 'Vronsky', 'Oblonsky', 'Death', 'Antonius Block', 'Kleinfeld', 'Benny Blanco', 'Carlito', 'Gail', 'Manny Karp', 'Burke', 'Koike', 'Father Brendan Flynn', 'Sister Aloysius Beauvier', 'Sister James', 'Kelly Van Ryan', 'Sam Lombardo', 'Suzie Toller', 'Ray Duquette', 'Vince Neil', 'Tommy Lee', 'Nikki Sixx', 'Mick Mars', 'Billy Hicks', 'Kirby Keger', 'Kevin Dolenz', 'Elizabeth James', 'Stephanie Smith', "David 'Future' Porter", "Jimmy 'B-Rabbit' Smith", 'Petra Arkanian', 'Valentine Wiggin', 'Jenny Young', 'Erin Kennedy', 'Blair Helms', 'Nate Davis', 'John Bennett', 'Jesse Tuck', 'Callie Travers', 'The Stranger', 'Aunt Edna', 'Rahul Khanna', 'Anjali Khanna', 'Anjali Sharma', 'Tina Malhotra', 'Giselle Levy', 'Betty Warren', 'Joan Brandwyn', 'Dolores Solitano', 'Snowball', 'Chloe', 'Myron Larabee', 'Ted Maltin', 'Liz Langston', 'Howard Langston', 'Valeria', 'Thulsa Doom', 'King Osric', 'Conan', 'Denahi', 'Koda', 'Rutt', 'Kenai', 'Ajax', 'Cleon', 'Swan', 'Stephanie', 'Sylvia', 'Maddalena', 'Marcello Rubini', 'Rum Tum Tugger', 'Bombalurina', 'Bustopher Jones', 'Old Deuteronomy', 'Robin of Locksley', 'Will Scarlett', 'Gale Weathers', 'Sidney Prescott', 'Harvey Pollard', 'Kate Wheeler', 'Terry Collins', 'Joe Blake', 'Heather', 'John Tucker', 'Carrie', 'Beth', 'Gerhard Hardman', 'Pilar Estravados', 'Princess Dragomiroff', 'Hercule Poirot', 'Max', "Jimmy O'Donnell", 'Noodles', 'Michael', 'Lucy', 'Grandpa', 'Sam', 'Cactus Bill', 'Nod', 'Queen Tara', 'Mary Katherine (M.K.)', 'Ronin', 'Ford Brody', 'Elle Brody', 'Joe Brody', 'Zeus', 'Perseus', 'Liam Stewart', 'Ruby Daly', 'Ermine Jung', 'George Jung', 'Randall Peltzer', 'Doug Remer', 'Joe Cooper', 'Jenna Reed', 'Squeak Scolari', 'Marv', 'Roger Dorn', 'Rachel Phelps', 'Jake Taylor', 'Ricky Vaughn', 'George W. Bush', 'Donald Rumsfeld', 'Lynne Cheney', 'Dick Cheney', 'Morgan Earp', 'Doc Holliday', 'Virgil Earp', 'Bee', 'Sonya', 'Stromboli', 'George', 'Ip Man', "Kathy O'Hara", 'Dolores Fuller', 'Ed Wood', 'Mr. Basu', 'Kizie Basu', 'Roland Turner', 'Llewyn Davis', 'Paulie Bleeker', 'Vanessa Loring', 'Sonic', 'Rotti Largo', 'Blind Mag', 'Marianne Renoir', 'Hugo', 'Esmeralda', 'Quasimodo', 'Evelyn Robin', 'Christopher Robin', 'Madeline Robin', 'Sebastian Valmont', 'Kathryn Merteuil', 'Cecile Caldwell', 'David Larrabee', 'Linus Larrabee', 'Sabrina Fairchild', 'Alexandra King', 'Scottie King', 'Matt King', 'Grace Davis', 'Maggie Sherwoode', 'Robin', 'Frank', 'Art', 'Nefretiri', 'Moses', 'Flik', 'Hopper', 'Dot', 'Jezzie', 'Kelli Presley', 'Lt. Ken Fuller', 'Jess', 'Heather Fitzgerald', 'Peter', 'Merrill Hess', 'Bo Hess', 'Morgan Hess', 'Lancelot', 'King Arthur', 'Guinevere', 'Smokey', 'Deebo', 'Craig Jones', 'Frank Sachs', 'Carol Connelly', 'Simon Bishop', 'Thrax', 'Drix', 'Barry Cox', 'Helen Shivers', 'Mick Taylor', 'Ben Mitchell', 'Kristy Earl', 'Liz Hunter', 'Clairee Belcher', "M'Lynn Eatenton", 'Hexxus', 'Pips', 'Batty Koda', 'Sibylla', 'Jim Farrell', 'Michael Ryan', 'Deborah Anne Fimple', 'Harry S. Stamper', 'A.J. Frost', 'Grace Stamper', 'Adam Faulkner-Stanheight', 'Dr. Lawrence Gordon', 'Jasper', 'Julian', 'Luke', 'Will Stronghold', 'Hassan', 'Faisal', 'Omar', 'Marissa Wiegler', 'Erik Heller', 'Johanna Zadek', 'Hanna', 'Margot', 'Miss Stevens', 'Elody', 'Ally Harris', 'Nathan', 'Salma', 'Johnny Wilcox', 'Patsy Loski', 'Steven Loski', 'Juli Baker', 'Bryce Loski', 'Memphis', 'Mumble', 'Hank', 'Jesse', 'Dean', 'Markie Cameron', 'Olivia Barron', 'Lucas Moreno', 'Brad Chang', 'Jessica', 'Gustafson', 'Jeronicus', 'Steve', 'Arthur', 'Santa', 'Lina Lamont', 'Don Lockwood', 'Cosmo Brown', 'Kathy Selden', 'Jason Voorhees', 'Vi Moore', 'Rev. Shaw Moore', 'Skye', 'Izzy', 'Calvin', 'Zoë Bell', 'Taggart', 'Debbie', 'Stillman', 'Violet', 'Hattie', 'Bellocq', 'Raoul', 'Sarah Altman', 'Burnham', 'Meg Altman', 'Frank James', 'Robert Ford', 'Jesse James', 'Taj Mahal Badalandabad', 'Gwen Pearson', 'Ruby Thewes', 'Ada Monroe', 'Florence Foster Jenkins', 'St Clair Bayfield', 'Mark King', 'Kate King', 'Carly Whitten', 'Amber', 'Evangeline', 'Wilder', 'Royal', 'Childs', 'Dr. Sander Halvorson', 'Clark', 'Kate Lloyd', 'Darren', 'Emily Nelson', 'Sean Townsend', 'The Girl', 'Zoe Plummer', 'Seth Plummer', 'Shane Wolfe', 'Gustaw Kramer', 'Henryk Kwinto', 'Monroe Hutchen', 'Claire Clairmont', 'Mrs. Godwin', 'William Godwin', "Stifler's Mom", 'Shelby Carpenter', 'Waldo Lydecker', 'Laura Hunt', 'Burton Mercer', 'Curtis', 'Elwood Blues', 'Jesse Attica', 'Jake Attica', 'A.J.', 'Dr. Dakota Block', 'Dr. William Block', 'Cherry Darling', 'Daniel Lugo', 'Victor Kershaw', 'Paul Doyle', 'Adrian Doorbal', 'Sam Witwicky', 'Max Baer', 'Mae Braddock', 'Joe Gould', 'Thomas Burke', 'Kimberly Corman', 'Iona', 'The Old Man', 'Dr. Dennett Norton', 'Caitlin Bree', 'Veronica', 'Morris Buttermaker', 'Amanda Whurlitzer', 'Walter McMillian', 'Bryan Stevenson', 'Eva Ansley', 'Russell Gettis', 'Amy Squirrel', 'Scott Delacorte', 'Elizabeth Halsey', 'Captain Leo Davidson', 'George Taylor', 'Ari', 'Dr. Zaius', 'Rachel', 'Farel', 'Luna', 'Kurgan', 'Connor MacLeod', 'Clarence Worley', 'Alabama Whitman', 'Clifford Worley', 'Woo-jin', 'Soo-ah', 'Hud', 'Lily', 'Marlena', 'Blackbeard', 'Tiger Lily', 'Matt', 'Eddie', 'Paul', 'Otis', 'Roxane', 'Bobbie Markowe', 'Bobbie Markowitz', 'Joanna Eberhart', 'Walter Eberhart', 'Mike Connell', 'James Brennan', 'Joel', 'Tom Reagan', 'Joe Murata', 'Shin', 'Billy Peltzer', 'Brain Gremlin', 'Gizmo', 'Scarface', 'Brian', 'Kenny Davis', 'Amanda', 'Hayley', 'Jack', 'Dina', 'Osamu Shibata', 'Nobuyo Shibata', 'Raghuvendra', 'Kaira', 'Kurt Kunkle', 'Jessie Adams', 'Dr. Frederick Frankenstein', 'The Monster', 'King Gristle', 'Poppy', 'Branch', 'Bridget', 'Henry Frankenstein', "Gerald O'Hara", 'Commander Melanoff', 'Phoenix', 'Hüsnü', 'Hüsniye', 'Kit De Luca', 'Philip Stuckey', 'Vivian Ward', 'Edward Lewis', 'Paul Smecker', 'Robert the Bruce', 'Julie Freeman', 'Frank Slaughtery', 'Naturelle Riviera', 'Eliza Doolittle', 'Professor Henry Higgins', 'Colonel Hugh Pickering', 'Tracy Freeland', 'Tom Hewett', 'Nola Rice', 'Chris Wilton', 'John Dillinger', 'Dawn', 'Momo', 'Will Salas', 'Sylvia Weis', 'John Reed', 'St. John Rivers', 'Hannah', 'Jane Eyre', 'Gary', 'Tex Richman', 'Mary', 'Jane Harmon', 'Dave Hodgman', 'Aubrey Miller', 'Carl Casper', 'Marvin', 'Molly', 'Riva', 'Jared Vennett', 'Mark Baum', 'Michael Burry', 'Ben Rickert', 'Raggedy Andy', 'Raggedy Ann', 'The Camel with the Wrinkled Knees', 'Kannonzaki', 'Layne', 'Kanna Tajima', 'Haruna Wakakusa', 'Ichiro Yamada', 'Hova', 'Zoc', 'Bernard', 'Mr. Snoops', 'Jean Hamilton', 'Holly Hamilton', 'Prince Lir', 'Mommy Fortuna', 'Schmendrick', 'Philip Ashley', 'Yôko Kuno', 'Susan Heffley', 'Rodrick Heffley', 'Frank Heffley', 'Allan', 'Alice Harbinson', 'Brian Jackson', 'Rebecca Epstein', 'Frank Cross', 'Claire Phillips', 'Songlian', 'Longfellow Deeds', 'Hawk', 'Lex', 'Kelly', 'Angelita', 'Celeste', 'Ziya', 'Nilgün', 'François', 'Roland', 'Vanessa', 'Harvey Shine', 'Kate Walker', 'Prince Alcott', 'The Queen', 'Snow White', 'Brighton', 'Unosuke - Gunfighter', 'Gonji - Tavern Keeper', 'Rohan Raichand', 'Yashvardhan Raichand', 'Rahul Raichand', 'Ali Khan', 'Kabir', 'Sheena', 'Filippo', 'Lina', 'Michele', 'Alfredo', 'Ada', 'Souleiman', 'Mona Lisa Vito', 'Vinny Gambini', 'Bill Gambini', 'Stan Rothenstein', 'Allyson', 'Sondra', 'Sean', 'Bones', 'Susan Gardner', 'Charlie Bartlett', 'Chug', 'Dusty Crophopper', 'Mehitabel', 'Tyrone T. Tattersall', 'Archy', 'Arash', 'Annie Savoy', 'Kiddi', 'Katrin', 'Gummi', 'Susan Carpenter', 'Peter Carpenter', 'Henry Carpenter', 'Valentine McKee', 'Rhonda LeBeck', 'Stella', 'Isabel Graysmark', 'Hannah Roennfeldt', 'Tom Sherbourne', 'The Creeper', 'Barron', 'Miss Avocet', 'Ammer', 'Donna Newman', 'Morty', 'Honoré Lachaille', 'Gigi', 'Madame Alvarez', 'Alicia', 'John McBurney', 'Johnny', 'Mateo', 'Sarah', 'Christy', 'Odessa Mitty', 'Cheryl Melhoff', 'Walter Mitty', 'Frankie Ballenbacher', 'Zack Mazursky', 'Johnny Truelove', 'Sonny Truelove', 'Kate Curtis', 'Laura Wilson', 'Adrian Helmsley', 'Jackson Curtis', 'Professor Ratigan', 'Digger', 'Gylfie', 'Soren', 'Yves Perret', 'Buff', 'Sooze', 'Pony', 'Jeff', 'Pierre Morhange', 'Chabert', 'Clément Mathieu', 'Flint Lockwood', 'Tim Lockwood', 'Sam Sparks', 'Kielyr', 'Vespyr', 'Bodevan', 'Miranda Hillard', 'Stu', 'Stan Podolak', 'Zico', 'Deusdete', 'Judge Elihu Smails', 'Carl Spackler', 'Al Czervik', 'Ty Webb', 'Morgan', 'Katie', 'Dilios', 'Sarah Hill', 'Bethany Hamilton', 'Gökçe', 'Beril', 'Efsun', 'Emrah', 'Mike Baker', 'Drew Boley', 'Sherrie Christian', 'Stacee Jaxx', 'Ichigo Kurosaki', 'Rukia Kuchiki', 'Theo van Gogh', 'Paul Gauguin', 'Priest', 'Vincent van Gogh', 'Dr. Evald Borg', 'Marianne Borg', 'Eugenie Rose Chaney', 'Raymond Shaw', 'Angie McHenry', 'Vic Manning', 'Ellie Appleton', 'Jack Malik', 'Piero', 'Vittoria', 'Violet Valentine', 'Chris Smith', 'Killer Joe Cooper', 'Dottie Smith', 'Ansel Smith', 'Madmartigan', 'Queen Bavmorda', 'Willow Ufgood', 'Sorsha', 'Roy', 'Francesca', 'Kyle', 'Bill Harding', 'Cyril', 'Moocher', 'Ootek', 'Feyzo', 'Bilo', 'Marian', 'Angela', 'Frank Mercer', 'Vicky', 'Gradisca', 'Preston Meyers', 'Amanda Beckett', 'Denise Fleming', 'William Lichter', 'Verona', 'Chev Chelios', 'Azusa Odagiri', 'Hatsumi Narita', 'Ryoki Tachibana', 'Lola', 'Anne', 'Ling', 'Rex Lafferty', 'Ian Lafferty', 'Marinês', 'Cardoso', 'André', 'Billie', 'Varla', 'Martin Axe', 'Jimmy Dalton', 'David Kentley', 'Raju', 'Baburao Ganpatrao Apte', 'Kathy', 'Bill Houston', 'Selma Jezkova', 'Nanette', 'Gnomeo', 'Lady Bluebury', 'Juliet', 'Annabel', 'Taka', 'Vijayalakshmi', 'Vijay', 'Coach Morris Buttermaker', 'Martin', 'Mr. Henry Nobley', 'Jane Hayes', 'Erhan', 'Ethan Hunt', 'Rhonda', 'Cook', 'BV', 'Faye', 'Mülayim Sert', 'Dolly', 'Maggie', 'Ray', 'Carver Doone', 'John Ridd', 'Lorna Doone', 'Annie Ridd', 'Stoney Brown', 'Robyn Sweeney', 'Link', 'Alex', 'Jo', 'The Caller', 'Karen', 'Kakihara', 'Ichi', 'Jijii', 'Jemma', 'Emma', 'Haley', 'Marcus Sommers', 'Scott Howard', 'Ian Miller', 'Peter Friedkin', 'Lee Gates', 'Kyle Budwell', 'Val', 'Laura', 'Walter Reilly', 'Chappie', 'Ellie Lansing', 'Tim Lansing', 'David Holm', 'Rifki', 'Billy Hayes', 'Tex', "Katharine 'Kitty' March", 'Johnny Prince', 'Christopher Cross', 'Tancredi Falconeri', 'Prince Don Fabrizio Salina', 'Raymond Marble', 'Cotton', 'Connie Marble', 'Yang Tieh', 'Sara', 'Suzy Bannion', 'Ray Cash', 'June Carter', 'Vivian Cash', 'Di', 'Miss G', 'Fiamma', 'Ruth', 'The Pirate King', 'Pest', 'Tulley', 'Miles Logan', 'Carlson', 'Cobb', 'Father Bobby', 'Shakes', 'Stanley Stupid', 'Mary Katherine Gallagher', 'Daisy', 'Bud Clay', 'Bert', 'Marcy', 'Chuck Barris', 'Jim Byrd', 'Patricia Watson', 'Catherine Ballard', 'Helen Remington', 'James Ballard', 'Van Ruijven', 'Maria Thins', 'Griet', 'Susan Calvin', 'Sonny', 'Merlin', 'Lara', 'Kat Ellis', 'Edward Fletcher-Wooten', 'Nick Mercer', 'William Evans', 'Charlie Prince', 'Dan Evans', 'Ben Wade', 'Chad Feldheimer', 'Linda Litzke', 'Danika Merrick', 'King Xerxes', 'Bobby Peru', 'Sailor Ripley', 'Darvell', 'Kung Fu', 'Fantasy', 'Max Vatan', 'Lucinda Price', 'Mary Jackson', 'Al Harrison', 'Katherine G. Johnson', 'Liza', 'Chip', 'Monica', 'Frank Tassone', 'Pam Gluckin', 'Boyse', 'Dibs', 'Monte', 'Julia', 'Zelda', 'Ben Miller', 'Trina Malone', 'Bud Malone', 'Darla Dimple', 'Sawyer', 'Daniella Riva', 'Dex Dogtective', 'Lady X', 'Sunshine Goodness', 'Griselda', 'Sunny', 'Sugar Plum Fairy', 'Senator Dillings', 'Matthew Kragen', 'Georgia Byrd', 'Daniel Plainview', 'Fletcher', 'Sybil Stone', 'Everett Stone', 'Meredith Morton', 'Jenny',

In [ ]:
len(mobi_tt_actor)

5250

In [ ]:
imdb_title_cast=cast[['tconst','nconst','characters']].merge(title[['tconst','primaryTitle','genres']],on='tconst')
imdb_title_cast.head()

,tconst,nconst,characters,primaryTitle,genres
0,tt0000574,nm0846887,Kate Kelly,The Story of the Kelly Gang,"Action,Adventure,Biography"
1,tt0000574,nm0846894,School Master,The Story of the Kelly Gang,"Action,Adventure,Biography"
2,tt0000574,nm1431224,Joe Byrne,The Story of the Kelly Gang,"Action,Adventure,Biography"
3,tt0000574,nm3002376,Steve Hart,The Story of the Kelly Gang,"Action,Adventure,Biography"
4,tt0000679,nm0000875,The Wizard of Oz Man,The Fairylogue and Radio-Plays,"Adventure,Fantasy"

In [ ]:
len(imdb_title_cast)

1142575

In [ ]:
imdb_mbti=imdb_title_cast.merge(mbti[['role','movie','img_url']],left_on=['characters','primaryTitle'],right_on=['role','movie'])
imdb_mbti.head()

,tconst,nconst,characters,primaryTitle,genres,role,movie,img_url
0,tt0003108,nm0099754,Macbeth,Macbeth,"Crime,Drama",Macbeth,Macbeth,https://www.personality-database.com/profile_i...
1,tt0006995,nm0002504,Macbeth,Macbeth,"Drama,History",Macbeth,Macbeth,https://www.personality-database.com/profile_i...
2,tt0006996,nm0786313,Macbeth,Macbeth,\N,Macbeth,Macbeth,https://www.personality-database.com/profile_i...
3,tt0038712,nm0103192,Macbeth,Macbeth,\N,Macbeth,Macbeth,https://www.personality-database.com/profile_i...
4,tt0040558,nm0000080,Macbeth,Macbeth,"Drama,History,War",Macbeth,Macbeth,https://www.personality-database.com/profile_i...

In [ ]:
len(imdb_mbti)

4803

In [ ]:
imdb_mbti['role'].unique()

array(['Macbeth', 'Lady Macbeth', 'Cinderella', ..., 'Sloane',
       'Aunt Susan', 'Elaine'], dtype=object)

In [ ]:
imdb_mbti_joinnotitle=imdb_title_cast.merge(mbti[['role','movie','img_url']],left_on=['characters'],right_on=['role'])
imdb_mbti_joinnotitle.head()

In [ ]:
len(imdb_mbti_joinnotitle)

790324

In [ ]:
len(imdb_mbti_joinnotcharacter)

103245

In [ ]:
imdb_mbti_joinnotitle[imdb_mbti_joinnotitle['movie']=='Harry Potter']

In [ ]:
imdb_mbti_joinnotitle['the_same']=imdb_mbti_joinnotitle.apply(lambda x: x.movie in x.primaryTitle,axis=1)
imdb_mbti_joinnotitle['the_same2']=imdb_mbti_joinnotitle.apply(lambda x: x.primaryTitle in x.movie,axis=1)
imdb_mbti_joinnotitle.head()

,tconst,nconst,characters,primaryTitle,genres,role,movie,img_url,the_same,the_same2
0,tt0001285,nm0366742,Moses,The Life of Moses,"Biography,Drama,Family",Moses,Attack the Block,https://www.personality-database.com/images/pr...,False,False
1,tt0001285,nm0366742,Moses,The Life of Moses,"Biography,Drama,Family",Moses,The Prince of Egypt,https://www.personality-database.com/profile_i...,False,False
2,tt0001285,nm0366742,Moses,The Life of Moses,"Biography,Drama,Family",Moses,Prince Of Egypt,https://www.personality-database.com/images/pr...,False,False
3,tt0001285,nm0366742,Moses,The Life of Moses,"Biography,Drama,Family",Moses,The Ten Commandments,https://www.personality-database.com/images/pr...,False,False
4,tt0023636,nm0777363,Moses,Uncle Moses,"Drama,Romance",Moses,Attack the Block,https://www.personality-database.com/images/pr...,False,False

In [ ]:
imdb_mbti_joinnotitle[(imdb_mbti_joinnotitle['the_same']==True) | (imdb_mbti_joinnotitle['the_same2']==True)]

,tconst,nconst,characters,primaryTitle,genres,role,movie,img_url,the_same,the_same2
15,tt0049833,nm0000032,Moses,The Ten Commandments,"Adventure,Drama,Family",Moses,The Ten Commandments,https://www.personality-database.com/images/pr...,True,True
59,tt0489853,nm0000174,Moses,The Ten Commandments: The Musical,Musical,Moses,The Ten Commandments,https://www.personality-database.com/images/pr...,True,False
63,tt0955411,nm0000225,Moses,The Ten Commandments,"Animation,Family",Moses,The Ten Commandments,https://www.personality-database.com/images/pr...,True,True
100,tt1478964,nm3915784,Moses,Attack the Block,"Action,Adventure,Comedy",Moses,Attack the Block,https://www.personality-database.com/images/pr...,True,True
410,tt0070295,nm0376975,Lily,The Legend of Hillbilly John,"Drama,Fantasy,Horror",Lily,Legend,https://www.personality-database.com/images/pr...,True,False
...,...,...,...,...,...,...,...,...,...,...
790316,tt9683478,nm4402890,Trig Carson,The Half of It,"Comedy,Drama,Romance",Trig Carson,The Half of It,https://www.personality-database.com/profile_i...,True,True
790317,tt9684220,nm2577076,Bud Malone,Bad Trip,Comedy,Bud Malone,Bad Trip,https://www.personality-database.com/images/pr...,True,True
790318,tt9684220,nm1840504,Trina Malone,Bad Trip,Comedy,Trina Malone,Bad Trip,https://www.personality-database.com/images/pr...,True,True
790319,tt9686708,nm0203457,Scott Carlin,The King of Staten Island,"Comedy,Drama",Scott Carlin,The King of Staten Island,https://www.personality-database.com/images/pr...,True,True
790321,tt9806192,nm7079932,Naoufel,I Lost My Body,"Animation,Drama,Fantasy",Naoufel,I Lost My Body,https://www.personality-database.com/profile_i...,True,True